[submodule "lib/Socket.IO"]
	path = lib/Socket.IO
	url = http://github.com/LearnBoost/Socket.IO.git
[submodule "lib/Socket.IO-node"]
	path = lib/Socket.IO-node
	url = http://github.com/LearnBoost/Socket.IO-node.git

[submodule "lib/html5-boilerplate"]
	path = lib/html5-boilerplate
	url = http://github.com/robrighter/html5-boilerplate.git
[submodule "lib/node-sqlite"]
	path = lib/node-sqlite
	url = https://github.com/orlandov/node-sqlite.git
[submodule "lib/node-static"]
	path = lib/node-static
	url = https://github.com/cloudhead/node-static.git
[submodule "lib/choreographer"]
	path = lib/choreographer
	url = https://github.com/laughinghan/choreographer.git
[submodule "lib/log4js-node"]
	path = lib/log4js-node
	url = https://github.com/csausdev/log4js-node.git
